# Set in Python :

In [2]:
# A set is an unordered collection of unique elements. Unlike lists or tuples
# Sets in python can be created using curly brackets '{}' or the built-in 'set()' function.
# It does not allow duplicate values.
# A set is mutable.

In [8]:
# Create a Set :

Set = {1,2,3,4,5,3,1,4,12}
Set

{1, 2, 3, 4, 5, 12}

In [10]:
# To check type of set :

type(Set)

set

In [14]:
# Empty Set :
 
s = {}
s

{}

In [51]:
# Creating a two sets :

A = {10,20,30,40,50}
B = {60,70,80,90,00}
print(A)
print(B)

{50, 20, 40, 10, 30}
{0, 80, 70, 90, 60}

# Set Methods :

In [65]:
# add()	
# Adds a single element to the set.
# For Example ,

A = {1, 2, 3, 5, 7, 4}
A.add(6)
print(A)

{1, 2, 3, 4, 5, 6, 7}

In [67]:
# update()
# Adds multiple elements to the set.
# For example ,

U = {1, 2, 3, 5, 7, 4}
U.update([4, 9])
print(U)

{1, 2, 3, 4, 5, 7, 9}

In [69]:
# remove()
# Removes a specific element.
# For example ,

R = {1, 2, 3, 5, 7, 4}
R.remove(2)
print(R)

{1, 3, 4, 5, 7}

In [71]:
# clear()
# Removes all elements from the set.
# For example ,

C = {1, 2, 3, 5, 7, 4}
C.clear()
print(C)

set()

In [73]:
# union() (|)
# Returns a new set with elements from both sets.
# For example ,

a = {1, 2, 3, 4, 5, 6}
b = {2, 3, 5, 7, 9, 0}
print(a.union(b))

{0, 1, 2, 3, 4, 5, 6, 7, 9}

In [77]:
# intersection() (&)
# Returns a new set with common elements.
# For example ,

a = {1, 2, 3, 4, 5, 6}
b = {2, 3, 5, 7, 9, 0}
print(a.intersection(b))

{2, 3, 5}

In [79]:
# copy()	
# Return shallow copy
# For example ,

a = {1, 2, 3, 4, 5, 6}
b = {2, 3, 5, 7, 9, 0}
a.copy()
a

{1, 2, 3, 4, 5, 6}

In [81]:
# difference()
# Returns elements in the first set but not in the second.
# For example ,

a = {1, 2, 3, 4, 5}
b = {2, 4, 6, 7, 8}
print(a.difference(b))

{1, 3, 5}

In [83]:
# discard()	
# Remove element 
# For example ,

a = {1, 2, 3, 4, 5}
a.discard(3)
a

{1, 2, 4, 5}